.d3chart .circle-wrap circle {
	stroke: white;
	stroke-width: 4;
	r: 3;
}
.d3chart .text-wrap rect {
	fill: white;
	width: 40;
}
.d3chart .text-wrap text {
	stroke: black;
}
.d3chart .line {
	stroke-width: 2;
	fill: none;
}
